

body {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #263238;
    letter-spacing: 1px;
}

h1 {
    
}

h2 {
    color: white;
}

a {
    color: saddlebrown;
}

img {
    width: 40em;
    height: 20em;
}

p {
    color: #B0BEC5;
    line-height: 2;
    margin: 2em;
}

#pageTopBanner {
    background-color: saddlebrown;
    height: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.projectContainer {
    color: #B0BEC5;
}
