
@media only screen and (min-width: 900px) {
  .projectContainer {
    background-color: lightblue;
  }
}
body {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #263238;
    letter-spacing: 1px;
}

h1 {
    
}

h2 {
    color: white;
    margin: 2em 2em 1em 2em;
}

h3 {
    margin: 2em;
}

a {
    color: saddlebrown;
}

img {
    width: 40em;
    height: 20em;
}

p {
    color: #B0BEC5;
    line-height: 2;
    margin: 2em 2em 1em 2em;
}

#pageTopBanner {
    background-color: saddlebrown;
    height: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.projectContainer {
    color: #B0BEC5;
}

.detailsBorderContainer {
    height: 1em;
    margin: 4em;
}

.detailsBorder {
    left: 10%;
    right: 25%;
    position: absolute;
    width: 80%;
    border-style: solid;
}
