
@media only screen and (min-width: 861px) {
    .projectContainer {
      margin: 0 2em 0 4em;
    }
}

@media only screen and (max-width: 1332px) {
    .doubleImg {
      flex-direction: column;
    }
    html {
        width: fit-content;
      }
  }

  body {
      width: 100%;
      margin: 0;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      background-color: #263238;
      letter-spacing: 1px;
  }
  
  h1 {
      
  }
  
  h2 {
      color: white;
      margin: 2em 2em 1em 2em;
  }
  
  h3 {
      margin: 1em;
  }
  
  a {
      color: saddlebrown;
  }
  
  img {
      width: 40em;
      height: 20em;
      padding: 1em;
  }
  
  p {
      color: #B0BEC5;
      line-height: 2;
      margin: 2em 2em 1em 2em;
  }

  button {
    width: 9em;
    height: 3em;
    background-color: #ffffffbf;
    border-radius: 10%;
  }
  
  #pageTopBanner {
      background-color: saddlebrown;
      height: 2em;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
  }
  
  .projectContainer {
      color: #B0BEC5;
  }

  .subtitle {
    color: saddlebrown;
  }
  
  .detailsBorderContainer {
      height: 1em;
      margin: 6em 10em 2em 10em;
  }
  
  .detailsBorder {
      border-style: solid;
      border-color: #ffffffbf;
  }

  .doubleImg {
    display: inline-flex;
  }

  .buttonsContainer {
    display: inline-flex;
  }

  .buttonContainer {
    padding: 0 15em 0 15em;
  }

  .widthAuto {
    width: auto;
  }

  .backToTop {
    padding-top: 1em;
  }
